* {
    margin: 0;
}

@font-face {
    font-family: balto;
    src: url(Balto-Light.woff2);
}

@font-face {
    font-family: akkurat;
    src: url(Akkurat.woff2);
}

@font-face { 
    font-family: tiempos;
    src: url(TestTiemposFine-Semibold-BF66457a50f016a.woff2);
}

body {
    background-color: #FCF7E6;
}

h1{
    text-align: center;
    font-family: tiempos, sans-serif;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-family: balto;
    margin-top: 30px;
}

p {
    font-family: akkurat;
}

button {
    font-family: akkurat;
    font-size: large;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 450px;
    gap: 10px;
}

.container > div {
    text-align: center;
    margin: 20px 10px;
    padding: 30px 0;
    /* border: 1px solid black; */
    border-radius: 25px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.1);
    padding: 25px;
    transition: all 0.3s ease;
    border-bottom: 15px solid #0a0a09;
    background-color: #EDE7D2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container > div:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

.newBook {
    margin: 10px;
    padding: 15px;
    border-radius: 30px;
    border: 0.5px solid black;
    transition: all 0.5s ease;
    background-color: #FCF7E6;
}

.newBook:hover {
    color: #FCF7E6;
    background-color: black;
    border: none;
}

.center {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.removeBtn {
    margin-top: auto;
    border: 0.5px solid black;
    transition: all 0.5s ease;
    background-color: #FCF7E6;
    border-radius: 30px;
    padding: 10px;
}

.removeBtn:hover {
    color: #FCF7E6;
    background-color: black;
    border: none;
}

.toggleBtn {
    margin-top: 20px;
    border: none;
    transition: all 0.5s ease;
    color: #FCF7E6;
    background-color: black;
    border-radius: 30px;
    padding: 10px;
}

.toggleBtn:hover {
    color: black;
    background-color: #FCF7E6;
    border: 0.5px solid black;
}

/* style new book form */